# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=uniliving
# POSTGRES_DB=ad_sync_prod
POSTGRES_PORT=5432

# Connection URL for Prisma / Pg
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public

# Adminer Configuration
ADMINER_PORT=8080

# Authentication & Session
SESSION_SECRET=super_secret_session_key_change_me_in_production
NODE_ENV=development